html, body {
	font: 1em 'Courier New', sans-serif;
	height: 100%;
	background-color: black;
	padding: 0;
	margin: 0;
	color: #eee;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	color: #fff;
	font-weight: bold;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: .9em;
}

a {
	color: forestgreen;
}

p {
	margin: 1em 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

.button, button {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	margin: 5px 10px 0 0;
	padding: 4px 8px 4px 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #1685fc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
}

.cancel {
	border: 1px solid #303030;
	color: #999;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #161616;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#474747));
	background-image: -webkit-linear-gradient(top, #4d4d4d, #474747);
	background-image: -moz-linear-gradient(top, #4d4d4d, #474747);
	background-image: -ms-linear-gradient(top, #4d4d4d, #474747);
	background-image: -o-linear-gradient(top, #4d4d4d, #474747);
	background-image: linear-gradient(top, #4d4d4d, #474747);
}

#terminal {
	box-sizing: border-box;
	padding: 20px 10px;
	margin-bottom: 20px;
}
#terminal > div {
	padding: 0px 10px;
}

#console {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	-moz-box-sizing: border-box;
}

#cmd {
	width: 100%;
	background: #333;
	border: 0px;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
	outline: none;
	font-family: "Courier New", monospace;
	font-size: 1em;
}
#cmd::-webkit-input-placeholder {
	color: #666666;
}
#cmd:-moz-placeholder { /* Firefox 18- */
	color: #666666;
}
#cmd::-moz-placeholder {  /* Firefox 19+ */
	color: #666666;
}
#cmd:-ms-input-placeholder {
	color: #666666;
}

#cmd.disconnected { background: #211; }
#cmd.newmsg { background: #121; }

.command {
	color: yellow;
	padding: 5px 0px;
	border-top: 1px solid #222;
	margin-top: 10px;
}
.command:before {
	color: yellow;
	font-weight: bold;
	content: "> ";
}

.system pre {outline: 1px solid #ccc; padding: 5px; margin: 10px 5px; background: #eee; color: black; }
.system .string { color: green; }
.system .number { color: darkorange; }
.system .boolean { color: blue; }
.system .null { color: magenta; }
.system .key { color: red; }

.error { color: #f55; }
.systemerror { color: red; }
.system { color: #55f; }

.comms {
	color: white;
	background: #454;
	padding: 10px 10px !important;
	margin: 10px 0px;
}
.directions { font-size: smaller; }
.direction { color: #6af; }
.direction:before { content: '['; }
.direction:after { content: ']'; }

.editor textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #333;
	border: none;
	color: white;
	height: 5em;
	padding: 10px;
	font-size: 1.2em;
}

.edit_complete {
	font-size: 0.8em;
	color: green;
}

#terminal div.help {
	background: #123;
	padding: 0px 0px 20px;
	margin: 20px;
	font-family: sans-serif;
	line-height: 140%;
}
#terminal div.help > * {
	margin-left: 20px;
	margin-right: 20px;
}
#terminal div.help h1 {
	margin: 0px 0px 5px;
	padding: 5px 20px;
	background: #234;
}
#terminal div.help ul {
	margin-left: 40px;
}
#terminal div.help code {
	background: #345;
	padding: 1px 5px;
}
#terminal div.help h2 {
	font-size: 1.0em;
	margin-top: 20px;
	border-bottom: 1px solid #234;
}
#terminal div.help h3 {
	font-size: 0.8em;
	margin-top: 20px;
}