<!doctype html>
<html>
<head>
	<title>{{server.name}} v{{server.version}}</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes"/>
	<meta name="HandheldFriendly" content="true"/>
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css"/>
	<link href="/css/styles.css" rel="stylesheet" media="all"/>
</head>
<body>
<div id="mudwrapper">
	<div id="terminal" class="terminal">
		<div id="screen-start">
			<h1>{{server.welcome}}</h1>

			<div class="subtext">
				<p>Running <a href="{{server.website}}">{{server.name}} v{{server.version}}</a></p>
			</div>
		</div>
	</div>
	<div id="bottom"></div>

	<div id="console">
		<input
			id="cmd"
			type="input" value=""
			placeholder=""
			data-state="boot"
			autocomplete="off"
			autocorrect="off"
			autocapitalize="off"
			spellcheck="false"
			class="disconnected"
		/>
	</div>
	<div id="bottom">&nbsp;</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="/js/client.js"></script>
</body>
</html>
