<h2>{{room.name}}</h2>
<div class="description">{{{description}}}</div>
<div class="contents">
{{#contents}}
	<div>{{{.}}}</div>
{{/contents}}
</div>
<div class="directions">
	Available exits:
	{{#exits}}
		<span class="direction">{{.}}</span>
	{{/exits}}
	{{^exits}}
		There are no visible exits.
	{{/exits}}
</div>